.container_cart {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.container_cart-tittle {
  background-color: #27ae60;
  border-radius: 5px 5px 0px 0px;
  width: 384px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_cart-tittle h2 {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.container_cart-vazio {
  background-color: #f5f5f5;
  border-radius: 0px 0px 5px 5px;
  width: 384px;
  height: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_cart-vazio h2 {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin: 56px 0 17px;
}

.container_cart-vazio p {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
}

.container_cart-cheio {
  background-color: #f5f5f5;
  border-radius: 0px 0px 5px 5px;
  width: 384px;
}

.container_cart-cheio-total {
  border-top: 2px solid #e0e0e0;
  height: 22.5vh;
}

.container_cart-cheio-total button {
  background-color: #e0e0e0;
  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;
  width: 25vw;
  height: 9.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  color: #828282;
  cursor: pointer;
}

.container_cart-cheio-total-soma {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.7vw;
}

.container_cart-cheio-total-soma h3 {
  color: #333333;
  font-weight: 600;
  font-size: 14px;
}

.container_cart-cheio-total-soma span {
  color: #828282;
  font-weight: 600;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .container_cart {
    height: 55.72vh;
    margin: 5vh 6.6vw 0 0;
  }

  .container_cart-tittle {
    width: 28vw;
    height: 10vh;
  }

  .container_cart-vazio {
    width: 28vw;
    height: 25vh;
  }

  .container_cart-vazio h2 {
    margin: 9vh 0 2vh;
  }

  .container_cart-cheio {
    width: 28vw;
  }

  .container_cart-add-products {
    height: fit-content;
  }
}
