.container_cart-li {
  font-family: "Inter", sans-serif;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.container_cart-li div {
  display: flex;
}

.container_cart-li figure {
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_cart-li img {
  max-width: 70px;
}

.container_cart-li figcaption {
  display: none;
}

.container_cart-li span {
  display: none;
}

.container_cart-li .container_name {
  margin-left: 10px;
}

.container_cart-li h2 {
  font-size: 18px;
  font-weight: 700;
}

.container_cart-li small {
  font-weight: 400;
  font-size: 12px;
  color: #828282;
}

.container_cart-li button {
  color: #bdbdbd;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 15px 10px 0;
}

@media screen and (min-width: 768px) {
  .container_cart-li figure {
    width: 5.85vw;
    height: 12.8vh;
  }

  .container_cart-li img {
    max-width: 5.12vw;
  }
}
